In [2]:
import pandas as pd

df = pd.read_csv('/home/eva/results/datasets/output_primes.txt', names = ['cond','a1','a2','a3','a4','a6'])

In [30]:
df['cond'] = df['cond'].astype(float)
df = df[df['cond'] > 2*10**(13)]

In [31]:

df['a1'] = df['a1'].str.replace('[',' ')
df['a6'] = df['a6'].str.replace(']',' ')
df

/tmp/ipykernel_17804/1527221361.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['a1'] = df['a1'].str.replace('[',' ')
/tmp/ipykernel_17804/1527221361.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['a6'] = df['a6'].str.replace(']',' ')

               cond   a1  a2  a3     a4             a6
0      4.151590e+15    0   0   0     -7   12400105/4
2      2.285333e+14    0   0   0    -31    2909329/4
4      3.667792e+16    0   0   0    -49   36857041/4
5      4.689695e+15    0   0   0    -49   13179241/4
10     1.318526e+14    0   0   0    -91    2209849/4
...             ...  ...  ..  ..    ...            ...
29910  3.282306e+14    0   0   0 -37706   10719825/4
29911  1.803693e+17    0   0   0 -37714   82507561/4
29912  1.098470e+15    0   0   0 -37720    9302089/4
29913  2.808828e+16    0   0   0 -37724   34169577/4
29914  3.845602e+14    0   0   0 -37724   11895225/4

[26584 rows x 6 columns]

In [1]:
df.to_csv('/home/eva/results/datasets/rk67curves.csv', index=False)

NameError: name 'df' is not defined

In [26]:
df[df['rk'] == 7]

      rk            cond   a1  a2  a3     a4          a6
2      7  13506344234171  [ 0   0   1   -169    176820 ]
108    7  10039215241691  [ 0   0   1  -3379    170160 ]
301    7  11015186660677  [ 0   0   1  -5707     45156 ]
345    7  17048883035771  [ 0   0   1  -6289    276252 ]
365    7   8612523053317  [ 0   0   1  -6487    143196 ]
369    7   4452457674997  [ 0   0   1  -6547    176826 ]
385    7   7815607430363  [ 0   0   1  -6727    251376 ]
513    7  11228663662309  [ 0   0   1  -8911    280776 ]
544    7   5469109942069  [ 0   0   1  -9709    350610 ]
588    7  12763703353211  [ 0   0   1 -10639    456012 ]
599    7   9068855954651  [ 0   0   1 -10969    465312 ]
631    7  10452854890763  [ 0   0   1 -11977    527946 ]
659    7  13328642837989  [ 0   0   1 -12679    520680 ]
662    7   5140292969989  [ 0   0   1 -12901    553356 ]
687    7  14822174586997  [ 0   0   1 -13597    581466 ]
741    7   2206378706437  [ 0   0   1 -15577    744876 ]
769    7  10647424332757  [ 0   0   1 -16471    798342 ]
808    7   6676948849211  [ 0   0   1 -18019    939252 ]
831    7  10152026635643  [ 0   0   1 -18967   1017036 ]
917    7  14944153256603  [ 0   0   1 -24847   1518936 ]
1016   7  14994188195291  [ 0   0   1 -33079   2323152 ]
1102   7  19215410452597  [ 0   0   1 -40747   3158826 ]
1182   7  10315605101723  [ 0   0   1 -53557   4773096 ]
1231   7   7299759267611  [ 0   0   1 -65509   6454872 ]
1304   7  18030192979193  [ 1  -1   1  -5676    263760 ]