In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/home/eva/results/trueranks/ranks_00000.csv', names = ['rk', 'cond', 'a1', 'a2', 'a3', 'a4', 'a6', 'sign'])
df

/tmp/ipykernel_2499/1221055192.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/home/eva/results/trueranks/ranks_00000.csv', names = ['rk', 'cond', 'a1', 'a2', 'a3', 'a4', 'a6', 'sign'])

         rk       cond  a1  a2  a3    a4       a6  sign
0         0         11   0  -1   1     0        0    -1
1         0         11   0  -1   1   -10      -20    -1
2         0         11   0  -1   1 -7820  -263580    -1
3         0         17   1  -1   1    -1        0     1
4         0         17   1  -1   1    -1      -14    -1
...      ..        ...  ..  ..  ..   ...      ...   ...
1872959   0  999996989   0  -1   1 -1959    34000     1
1872960   2  999998423   1  -1   1   213     -990    -1
1872961   0  999998563   0  -1   1  -644     6691    -1
1872962   2  999999017   1   0   1  -306    -2583    -1
1872963   1  999999757   0   0   1  -250       -1     1

[1872964 rows x 8 columns]

In [16]:
df0 = df[df['rk'] == 2]
df_dropped = df0.drop_duplicates(subset='cond', keep='first')

df_dropped = df_dropped.drop(df_dropped.index[200000:])

In [17]:
df_dropped

         rk       cond  a1  a2  a3     a4       a6  sign
50        2        389   0   1   1     -2        0     1
53        2        433   1   0   0      0        1    -1
63        2        563   1   1   1    -15       16    -1
64        2        571   0   1   1     -4        2    -1
69        2        643   1   0   0     -4        3    -1
...      ..        ...  ..  ..  ..    ...      ...   ...
1044749   2  472992967   1   0   0      8     1047    -1
1044752   2  472995197   0   0   1 -13490  -603067     1
1044755   2  472996373   0   1   1  -1576   -24592     1
1044760   2  472998233   1   0   1  -2831    57717     1
1044766   2  473002109   0   0   1  -1277    17533     1

[200000 rows x 8 columns]

In [18]:
df_dropped.to_csv('/home/eva/results/datasets/ml/first200k.csv', index=False, mode='a', header=False)

In [23]:
allranks = pd.DataFrame()

In [24]:
for i in range(0,9):
    df = pd.read_csv(f'/home/eva/results/trueranks/ranks_0000{i}.csv', names = ['rk', 'cond', 'a1', 'a2', 'a3', 'a4', 'a6', 'sign'])
    df3 = df[df['rk'] == 3]
    df3 = df3.drop_duplicates(subset='cond', keep='first')


    allranks = allranks.append(df3, ignore_index=True)
    
    if len(allranks) >= 200000:
        break

/tmp/ipykernel_2499/3262799799.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'/home/eva/results/trueranks/ranks_0000{i}.csv', names = ['rk', 'cond', 'a1', 'a2', 'a3', 'a4', 'a6', 'sign'])
/tmp/ipykernel_2499/3262799799.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  allranks = allranks.append(df3, ignore_index=True)
/tmp/ipykernel_2499/3262799799.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'/home/eva/results/trueranks/ranks_0000{i}.csv', names = ['rk', 'cond', 'a1', 'a2', 'a3', 'a4', 'a6', 'sign'])
/tmp/ipykernel_2499/3262799799.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  allranks = allranks.append(df3, ignore_index=True)
/tmp/ipykernel_2499/3262799799.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'/home/eva/results/trueranks/ranks_0000{i}.csv', names = ['rk', 'cond', 'a1', 'a2', 'a3', 'a4', 'a6', 'sign'])
/tmp/ipykernel_2499/3262799799.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  allranks = allranks.append(df3, ignore_index=True)
/tmp/ipykernel_2499/3262799799.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'/home/eva/results/trueranks/ranks_0000{i}.csv', names = ['rk', 'cond', 'a1', 'a2', 'a3', 'a4', 'a6', 'sign'])
/tmp/ipykernel_2499/3262799799.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  allranks = allranks.append(df3, ignore_index=True)

In [25]:
allranks = allranks.drop(allranks.index[200000:])

In [26]:
allranks

        rk        cond  a1  a2  a3    a4       a6  sign
0        3        5077   0   0   1    -7        6     1
1        3       11197   1  -1   1    -6        0     1
2        3       16811   0   0   1    -1        6    -1
3        3       18097   1   1   1   -10        6     1
4        3       22481   1  -1   1     6        2    -1
...     ..         ...  ..  ..  ..   ...      ...   ...
199995   3  3805740821   0   1   1 -2936    60192     1
199996   3  3805751617   1   0   0 -1550    23171     1
199997   3  3805800629   0   1   1  -847     8735     1
199998   3  3805823909   1   0   1  -400      765     1
199999   3  3805845557   0   1   1 -4604  -121752     1

[200000 rows x 8 columns]

In [27]:
allranks.to_csv('/home/eva/results/datasets/ml/first200k.csv', index=False, mode='a', header=False)

In [28]:
df4 = pd.read_csv('/home/eva/results/datasets/ml/morecurves.csv', names = ['rk', 'cond', 'a1', 'a2', 'a3', 'a4', 'a6', 'sign'])

/tmp/ipykernel_2499/2242016472.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv('/home/eva/results/datasets/ml/morecurves.csv', names = ['rk', 'cond', 'a1', 'a2', 'a3', 'a4', 'a6', 'sign'])

In [29]:
df4

        rk         cond  a1  a2  a3    a4      a6  sign
0        4       501029   0   1   1   -72     210   1.0
1        4       545723   0   0   1    -7      36  -1.0
2        4       602461   1   0   0  -202    1089  -1.0
3        4       797611   0   1   1    -2      42  -1.0
4        4       812011   0   1   1   -32      72  -1.0
...     ..          ...  ..  ..  ..   ...     ...   ...
975705   3  39091770541   1  -1   1 -3727   89012  -1.0
975706   3  39958176563   1  -1   1  -807   13250  -1.0
975707   3  39750752381   1   0   1 -2080  -37913  -1.0
975708   3  39893451509   0  -1   1 -1210   13454   1.0
975709   3  39049700783   1   0   1 -1496  -20253   1.0

[975710 rows x 8 columns]

In [30]:
df5 = df4[df4['rk'] == 4]

In [31]:
df5 = df5.drop_duplicates(subset='cond', keep='first')

In [32]:
df5

        rk          cond  a1  a2  a3    a4      a6  sign
0        4        501029   0   1   1   -72     210   1.0
1        4        545723   0   0   1    -7      36  -1.0
2        4        602461   1   0   0  -202    1089  -1.0
3        4        797611   0   1   1    -2      42  -1.0
4        4        812011   0   1   1   -32      72  -1.0
...     ..           ...  ..  ..  ..   ...     ...   ...
175705   4  415997611669   0   0   1 -2497   36654   1.0
175706   4  415997775283   0   1   1 -2809   64238  -1.0
175707   4  415998166757   0  -1   1 -2188   25010   1.0
175708   4  415998973459   0   1   1  1659  -16386  -1.0
175709   4  415999328399   1  -1   1 -1113   34440  -1.0

[175650 rows x 8 columns]

In [33]:
df5.to_csv('/home/eva/results/datasets/ml/first200k.csv', index=False, mode='a', header=False)

In [43]:
aps = [f'a_{i}' for i in range(1,61)]
print(aps)
names = ['rk', 'cond', 'a1', 'a2', 'a3', 'a4', 'a6', 'sign'] + aps

aps = pd.read_csv('/home/eva/results/datasets/ml/200KEachrank.csv', names = names)

['a_1', 'a_2', 'a_3', 'a_4', 'a_5', 'a_6', 'a_7', 'a_8', 'a_9', 'a_10', 'a_11', 'a_12', 'a_13', 'a_14', 'a_15', 'a_16', 'a_17', 'a_18', 'a_19', 'a_20', 'a_21', 'a_22', 'a_23', 'a_24', 'a_25', 'a_26', 'a_27', 'a_28', 'a_29', 'a_30', 'a_31', 'a_32', 'a_33', 'a_34', 'a_35', 'a_36', 'a_37', 'a_38', 'a_39', 'a_40', 'a_41', 'a_42', 'a_43', 'a_44', 'a_45', 'a_46', 'a_47', 'a_48', 'a_49', 'a_50', 'a_51', 'a_52', 'a_53', 'a_54', 'a_55', 'a_56', 'a_57', 'a_58', 'a_59', 'a_60']

/tmp/ipykernel_2499/1712601816.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  aps = pd.read_csv('/home/eva/results/datasets/ml/200KEachrank.csv', names = names)

In [44]:
aps = aps.drop(columns = ['a1','a2','a3','a4','a6'])

In [45]:
aps

,rk,cond,sign,a_1,a_2,a_3,a_4,a_5,a_6,a_7,...,a_51,a_52,a_53,a_54,a_55,a_56,a_57,a_58,a_59,a_60
0,4,501029,1.0,-2,-2,-3,-5,-4,-5,-6,...,-24,-19,11,18,15,0,-14,10,18,-6
1,4,545723,-1.0,-2,-3,-4,-5,-4,-2,-4,...,10,8,-22,-16,-8,-20,-25,-22,6,-8
2,4,602461,-1.0,-1,-2,-3,-3,-4,-4,-6,...,12,-12,-14,-27,18,-23,3,0,4,16
3,4,797611,-1.0,-2,-2,-3,-5,-6,-2,-4,...,-15,4,-8,9,15,-3,24,-13,-26,-20
4,4,812011,-1.0,-2,-2,-3,-4,-5,-6,-2,...,-18,-20,-25,27,-6,-16,-14,19,2,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975705,3,39091770541,-1.0,-1,0,1,-1,-3,0,2,...,24,-24,-4,21,6,-13,18,-27,-2,18
975706,3,39958176563,-1.0,-1,0,-4,2,-3,-4,0,...,2,-8,17,20,-3,-4,-19,0,12,13
975707,3,39750752381,-1.0,1,1,-3,-2,-5,-2,2,...,-30,14,7,2,-6,-18,-24,6,-21,25
975708,3,39893451509,1.0,-2,2,1,-1,-2,2,6,...,14,9,2,-4,9,4,-6,-27,6,12
975709,3,39049700783,1.0,1,-2,0,-4,-4,2,-6,...,26,-20,-8,-4,-12,-1,-14,0,-14,0

In [46]:
aps.to_csv('/home/eva/results/datasets/ml/Sparse200k.csv', index=False, mode='a', header=True)

In [3]:
aps = [f'a_{i}' for i in range(1,1230)]
names = ['rk', 'cond', 'sign'] + aps



df = pd.read_csv('/home/eva/Downloads/rank-vs-ap-integers.csv', names = names)
df

['a_1', 'a_2', 'a_3', 'a_4', 'a_5', 'a_6', 'a_7', 'a_8', 'a_9', 'a_10', 'a_11', 'a_12', 'a_13', 'a_14', 'a_15', 'a_16', 'a_17', 'a_18', 'a_19', 'a_20', 'a_21', 'a_22', 'a_23', 'a_24', 'a_25', 'a_26', 'a_27', 'a_28', 'a_29', 'a_30', 'a_31', 'a_32', 'a_33', 'a_34', 'a_35', 'a_36', 'a_37', 'a_38', 'a_39', 'a_40', 'a_41', 'a_42', 'a_43', 'a_44', 'a_45', 'a_46', 'a_47', 'a_48', 'a_49', 'a_50', 'a_51', 'a_52', 'a_53', 'a_54', 'a_55', 'a_56', 'a_57', 'a_58', 'a_59', 'a_60', 'a_61', 'a_62', 'a_63', 'a_64', 'a_65', 'a_66', 'a_67', 'a_68', 'a_69', 'a_70', 'a_71', 'a_72', 'a_73', 'a_74', 'a_75', 'a_76', 'a_77', 'a_78', 'a_79', 'a_80', 'a_81', 'a_82', 'a_83', 'a_84', 'a_85', 'a_86', 'a_87', 'a_88', 'a_89', 'a_90', 'a_91', 'a_92', 'a_93', 'a_94', 'a_95', 'a_96', 'a_97', 'a_98', 'a_99', 'a_100', 'a_101', 'a_102', 'a_103', 'a_104', 'a_105', 'a_106', 'a_107', 'a_108', 'a_109', 'a_110', 'a_111', 'a_112', 'a_113', 'a_114', 'a_115', 'a_116', 'a_117', 'a_118', 'a_119', 'a_120', 'a_121', 'a_122', 'a_123', 'a_124', 'a_125', 'a_126', 'a_127', 'a_128', 'a_129', 'a_130', 'a_131', 'a_132', 'a_133', 'a_134', 'a_135', 'a_136', 'a_137', 'a_138', 'a_139', 'a_140', 'a_141', 'a_142', 'a_143', 'a_144', 'a_145', 'a_146', 'a_147', 'a_148', 'a_149', 'a_150', 'a_151', 'a_152', 'a_153', 'a_154', 'a_155', 'a_156', 'a_157', 'a_158', 'a_159', 'a_160', 'a_161', 'a_162', 'a_163', 'a_164', 'a_165', 'a_166', 'a_167', 'a_168', 'a_169', 'a_170', 'a_171', 'a_172', 'a_173', 'a_174', 'a_175', 'a_176', 'a_177', 'a_178', 'a_179', 'a_180', 'a_181', 'a_182', 'a_183', 'a_184', 'a_185', 'a_186', 'a_187', 'a_188', 'a_189', 'a_190', 'a_191', 'a_192', 'a_193', 'a_194', 'a_195', 'a_196', 'a_197', 'a_198', 'a_199', 'a_200', 'a_201', 'a_202', 'a_203', 'a_204', 'a_205', 'a_206', 'a_207', 'a_208', 'a_209', 'a_210', 'a_211', 'a_212', 'a_213', 'a_214', 'a_215', 'a_216', 'a_217', 'a_218', 'a_219', 'a_220', 'a_221', 'a_222', 'a_223', 'a_224', 'a_225', 'a_226', 'a_227', 'a_228', 'a_229', 'a_230', 'a_231', 'a_232', 'a_233', 'a_234', 'a_235', 'a_236', 'a_237', 'a_238', 'a_239', 'a_240', 'a_241', 'a_242', 'a_243', 'a_244', 'a_245', 'a_246', 'a_247', 'a_248', 'a_249', 'a_250', 'a_251', 'a_252', 'a_253', 'a_254', 'a_255', 'a_256', 'a_257', 'a_258', 'a_259', 'a_260', 'a_261', 'a_262', 'a_263', 'a_264', 'a_265', 'a_266', 'a_267', 'a_268', 'a_269', 'a_270', 'a_271', 'a_272', 'a_273', 'a_274', 'a_275', 'a_276', 'a_277', 'a_278', 'a_279', 'a_280', 'a_281', 'a_282', 'a_283', 'a_284', 'a_285', 'a_286', 'a_287', 'a_288', 'a_289', 'a_290', 'a_291', 'a_292', 'a_293', 'a_294', 'a_295', 'a_296', 'a_297', 'a_298', 'a_299', 'a_300', 'a_301', 'a_302', 'a_303', 'a_304', 'a_305', 'a_306', 'a_307', 'a_308', 'a_309', 'a_310', 'a_311', 'a_312', 'a_313', 'a_314', 'a_315', 'a_316', 'a_317', 'a_318', 'a_319', 'a_320', 'a_321', 'a_322', 'a_323', 'a_324', 'a_325', 'a_326', 'a_327', 'a_328', 'a_329', 'a_330', 'a_331', 'a_332', 'a_333', 'a_334', 'a_335', 'a_336', 'a_337', 'a_338', 'a_339', 'a_340', 'a_341', 'a_342', 'a_343', 'a_344', 'a_345', 'a_346', 'a_347', 'a_348', 'a_349', 'a_350', 'a_351', 'a_352', 'a_353', 'a_354', 'a_355', 'a_356', 'a_357', 'a_358', 'a_359', 'a_360', 'a_361', 'a_362', 'a_363', 'a_364', 'a_365', 'a_366', 'a_367', 'a_368', 'a_369', 'a_370', 'a_371', 'a_372', 'a_373', 'a_374', 'a_375', 'a_376', 'a_377', 'a_378', 'a_379', 'a_380', 'a_381', 'a_382', 'a_383', 'a_384', 'a_385', 'a_386', 'a_387', 'a_388', 'a_389', 'a_390', 'a_391', 'a_392', 'a_393', 'a_394', 'a_395', 'a_396', 'a_397', 'a_398', 'a_399', 'a_400', 'a_401', 'a_402', 'a_403', 'a_404', 'a_405', 'a_406', 'a_407', 'a_408', 'a_409', 'a_410', 'a_411', 'a_412', 'a_413', 'a_414', 'a_415', 'a_416', 'a_417', 'a_418', 'a_419', 'a_420', 'a_421', 'a_422', 'a_423', 'a_424', 'a_425', 'a_426', 'a_427', 'a_428', 'a_429', 'a_430', 'a_431', 'a_432', 'a_433', 'a_434', 'a_435', 'a_436', 'a_437', 'a_438', 'a_439', 'a_440', 'a_441', 'a_442', 'a_443', 'a_444', 'a_445', 'a_446', 'a_447', 'a_448', 'a_449', 'a_450', 'a_451', 'a_452', 'a_453', 'a_454', 'a_455', 'a_456', 'a_457', 'a_458', 'a_459', 'a_460', 'a_461', 'a_462', 'a_463', 'a_464', 'a_465', 'a_466', 'a_467', 'a_468', 'a_469', 'a_470', 'a_471', 'a_472', 'a_473', 'a_474', 'a_475', 'a_476', 'a_477', 'a_478', 'a_479', 'a_480', 'a_481', 'a_482', 'a_483', 'a_484', 'a_485', 'a_486', 'a_487', 'a_488', 'a_489', 'a_490', 'a_491', 'a_492', 'a_493', 'a_494', 'a_495', 'a_496', 'a_497', 'a_498', 'a_499', 'a_500', 'a_501', 'a_502', 'a_503', 'a_504', 'a_505', 'a_506', 'a_507', 'a_508', 'a_509', 'a_510', 'a_511', 'a_512', 'a_513', 'a_514', 'a_515', 'a_516', 'a_517', 'a_518', 'a_519', 'a_520', 'a_521', 'a_522', 'a_523', 'a_524', 'a_525', 'a_526', 'a_527', 'a_528', 'a_529', 'a_530', 'a_531', 'a_532', 'a_533', 'a_534', 'a_535', 'a_536', 'a_537', 'a_538', 'a_539', 'a_540', 'a_541', 'a_542', 'a_543', 'a_544', 'a_545', 'a_546', 'a_547', 'a_548', 'a_549', 'a_550', 'a_551', 'a_552', 'a_553', 'a_554', 'a_555', 'a_556', 'a_557', 'a_558', 'a_559', 'a_560', 'a_561', 'a_562', 'a_563', 'a_564', 'a_565', 'a_566', 'a_567', 'a_568', 'a_569', 'a_570', 'a_571', 'a_572', 'a_573', 'a_574', 'a_575', 'a_576', 'a_577', 'a_578', 'a_579', 'a_580', 'a_581', 'a_582', 'a_583', 'a_584', 'a_585', 'a_586', 'a_587', 'a_588', 'a_589', 'a_590', 'a_591', 'a_592', 'a_593', 'a_594', 'a_595', 'a_596', 'a_597', 'a_598', 'a_599', 'a_600', 'a_601', 'a_602', 'a_603', 'a_604', 'a_605', 'a_606', 'a_607', 'a_608', 'a_609', 'a_610', 'a_611', 'a_612', 'a_613', 'a_614', 'a_615', 'a_616', 'a_617', 'a_618', 'a_619', 'a_620', 'a_621', 'a_622', 'a_623', 'a_624', 'a_625', 'a_626', 'a_627', 'a_628', 'a_629', 'a_630', 'a_631', 'a_632', 'a_633', 'a_634', 'a_635', 'a_636', 'a_637', 'a_638', 'a_639', 'a_640', 'a_641', 'a_642', 'a_643', 'a_644', 'a_645', 'a_646', 'a_647', 'a_648', 'a_649', 'a_650', 'a_651', 'a_652', 'a_653', 'a_654', 'a_655', 'a_656', 'a_657', 'a_658', 'a_659', 'a_660', 'a_661', 'a_662', 'a_663', 'a_664', 'a_665', 'a_666', 'a_667', 'a_668', 'a_669', 'a_670', 'a_671', 'a_672', 'a_673', 'a_674', 'a_675', 'a_676', 'a_677', 'a_678', 'a_679', 'a_680', 'a_681', 'a_682', 'a_683', 'a_684', 'a_685', 'a_686', 'a_687', 'a_688', 'a_689', 'a_690', 'a_691', 'a_692', 'a_693', 'a_694', 'a_695', 'a_696', 'a_697', 'a_698', 'a_699', 'a_700', 'a_701', 'a_702', 'a_703', 'a_704', 'a_705', 'a_706', 'a_707', 'a_708', 'a_709', 'a_710', 'a_711', 'a_712', 'a_713', 'a_714', 'a_715', 'a_716', 'a_717', 'a_718', 'a_719', 'a_720', 'a_721', 'a_722', 'a_723', 'a_724', 'a_725', 'a_726', 'a_727', 'a_728', 'a_729', 'a_730', 'a_731', 'a_732', 'a_733', 'a_734', 'a_735', 'a_736', 'a_737', 'a_738', 'a_739', 'a_740', 'a_741', 'a_742', 'a_743', 'a_744', 'a_745', 'a_746', 'a_747', 'a_748', 'a_749', 'a_750', 'a_751', 'a_752', 'a_753', 'a_754', 'a_755', 'a_756', 'a_757', 'a_758', 'a_759', 'a_760', 'a_761', 'a_762', 'a_763', 'a_764', 'a_765', 'a_766', 'a_767', 'a_768', 'a_769', 'a_770', 'a_771', 'a_772', 'a_773', 'a_774', 'a_775', 'a_776', 'a_777', 'a_778', 'a_779', 'a_780', 'a_781', 'a_782', 'a_783', 'a_784', 'a_785', 'a_786', 'a_787', 'a_788', 'a_789', 'a_790', 'a_791', 'a_792', 'a_793', 'a_794', 'a_795', 'a_796', 'a_797', 'a_798', 'a_799', 'a_800', 'a_801', 'a_802', 'a_803', 'a_804', 'a_805', 'a_806', 'a_807', 'a_808', 'a_809', 'a_810', 'a_811', 'a_812', 'a_813', 'a_814', 'a_815', 'a_816', 'a_817', 'a_818', 'a_819', 'a_820', 'a_821', 'a_822', 'a_823', 'a_824', 'a_825', 'a_826', 'a_827', 'a_828', 'a_829', 'a_830', 'a_831', 'a_832', 'a_833', 'a_834', 'a_835', 'a_836', 'a_837', 'a_838', 'a_839', 'a_840', 'a_841', 'a_842', 'a_843', 'a_844', 'a_845', 'a_846', 'a_847', 'a_848', 'a_849', 'a_850', 'a_851', 'a_852', 'a_853', 'a_854', 'a_855', 'a_856', 'a_857', 'a_858', 'a_859', 'a_860', 'a_861', 'a_862', 'a_863', 'a_864', 'a_865', 'a_866', 'a_867', 'a_868', 'a_869', 'a_870', 'a_871', 'a_872', 'a_873', 'a_874', 'a_875', 'a_876', 'a_877', 'a_878', 'a_879', 'a_880', 'a_881', 'a_882', 'a_883', 'a_884', 'a_885', 'a_886', 'a_887', 'a_888', 'a_889', 'a_890', 'a_891', 'a_892', 'a_893', 'a_894', 'a_895', 'a_896', 'a_897', 'a_898', 'a_899', 'a_900', 'a_901', 'a_902', 'a_903', 'a_904', 'a_905', 'a_906', 'a_907', 'a_908', 'a_909', 'a_910', 'a_911', 'a_912', 'a_913', 'a_914', 'a_915', 'a_916', 'a_917', 'a_918', 'a_919', 'a_920', 'a_921', 'a_922', 'a_923', 'a_924', 'a_925', 'a_926', 'a_927', 'a_928', 'a_929', 'a_930', 'a_931', 'a_932', 'a_933', 'a_934', 'a_935', 'a_936', 'a_937', 'a_938', 'a_939', 'a_940', 'a_941', 'a_942', 'a_943', 'a_944', 'a_945', 'a_946', 'a_947', 'a_948', 'a_949', 'a_950', 'a_951', 'a_952', 'a_953', 'a_954', 'a_955', 'a_956', 'a_957', 'a_958', 'a_959', 'a_960', 'a_961', 'a_962', 'a_963', 'a_964', 'a_965', 'a_966', 'a_967', 'a_968', 'a_969', 'a_970', 'a_971', 'a_972', 'a_973', 'a_974', 'a_975', 'a_976', 'a_977', 'a_978', 'a_979', 'a_980', 'a_981', 'a_982', 'a_983', 'a_984', 'a_985', 'a_986', 'a_987', 'a_988', 'a_989', 'a_990', 'a_991', 'a_992', 'a_993', 'a_994', 'a_995', 'a_996', 'a_997', 'a_998', 'a_999', 'a_1000', 'a_1001', 'a_1002', 'a_1003', 'a_1004', 'a_1005', 'a_1006', 'a_1007', 'a_1008', 'a_1009', 'a_1010', 'a_1011', 'a_1012', 'a_1013', 'a_1014', 'a_1015', 'a_1016', 'a_1017', 'a_1018', 'a_1019', 'a_1020', 'a_1021', 'a_1022', 'a_1023', 'a_1024', 'a_1025', 'a_1026', 'a_1027', 'a_1028', 'a_1029', 'a_1030', 'a_1031', 'a_1032', 'a_1033', 'a_1034', 'a_1035', 'a_1036', 'a_1037', 'a_1038', 'a_1039', 'a_1040', 'a_1041', 'a_1042', 'a_1043', 'a_1044', 'a_1045', 'a_1046', 'a_1047', 'a_1048', 'a_1049', 'a_1050', 'a_1051', 'a_1052', 'a_1053', 'a_1054', 'a_1055', 'a_1056', 'a_1057', 'a_1058', 'a_1059', 'a_1060', 'a_1061', 'a_1062', 'a_1063', 'a_1064', 'a_1065', 'a_1066', 'a_1067', 'a_1068', 'a_1069', 'a_1070', 'a_1071', 'a_1072', 'a_1073', 'a_1074', 'a_1075', 'a_1076', 'a_1077', 'a_1078', 'a_1079', 'a_1080', 'a_1081', 'a_1082', 'a_1083', 'a_1084', 'a_1085', 'a_1086', 'a_1087', 'a_1088', 'a_1089', 'a_1090', 'a_1091', 'a_1092', 'a_1093', 'a_1094', 'a_1095', 'a_1096', 'a_1097', 'a_1098', 'a_1099', 'a_1100', 'a_1101', 'a_1102', 'a_1103', 'a_1104', 'a_1105', 'a_1106', 'a_1107', 'a_1108', 'a_1109', 'a_1110', 'a_1111', 'a_1112', 'a_1113', 'a_1114', 'a_1115', 'a_1116', 'a_1117', 'a_1118', 'a_1119', 'a_1120', 'a_1121', 'a_1122', 'a_1123', 'a_1124', 'a_1125', 'a_1126', 'a_1127', 'a_1128', 'a_1129', 'a_1130', 'a_1131', 'a_1132', 'a_1133', 'a_1134', 'a_1135', 'a_1136', 'a_1137', 'a_1138', 'a_1139', 'a_1140', 'a_1141', 'a_1142', 'a_1143', 'a_1144', 'a_1145', 'a_1146', 'a_1147', 'a_1148', 'a_1149', 'a_1150', 'a_1151', 'a_1152', 'a_1153', 'a_1154', 'a_1155', 'a_1156', 'a_1157', 'a_1158', 'a_1159', 'a_1160', 'a_1161', 'a_1162', 'a_1163', 'a_1164', 'a_1165', 'a_1166', 'a_1167', 'a_1168', 'a_1169', 'a_1170', 'a_1171', 'a_1172', 'a_1173', 'a_1174', 'a_1175', 'a_1176', 'a_1177', 'a_1178', 'a_1179', 'a_1180', 'a_1181', 'a_1182', 'a_1183', 'a_1184', 'a_1185', 'a_1186', 'a_1187', 'a_1188', 'a_1189', 'a_1190', 'a_1191', 'a_1192', 'a_1193', 'a_1194', 'a_1195', 'a_1196', 'a_1197', 'a_1198', 'a_1199', 'a_1200', 'a_1201', 'a_1202', 'a_1203', 'a_1204', 'a_1205', 'a_1206', 'a_1207', 'a_1208', 'a_1209', 'a_1210', 'a_1211', 'a_1212', 'a_1213', 'a_1214', 'a_1215', 'a_1216', 'a_1217', 'a_1218', 'a_1219', 'a_1220', 'a_1221', 'a_1222', 'a_1223', 'a_1224', 'a_1225', 'a_1226', 'a_1227', 'a_1228', 'a_1229']

,rk,cond,sign,a_1,a_2,a_3,a_4,a_5,a_6,a_7,...,a_1220,a_1221,a_1222,a_1223,a_1224,a_1225,a_1226,a_1227,a_1228,a_1229
0,1,7073163673,-1,1,1,2,-1,3,-2,0,...,-72,85,172,158,-126,-138,44,-85,85,-13
1,1,7578874153,-1,1,0,0,-2,6,-4,0,...,-119,-97,-170,-31,-169,-76,-37,42,-78,122
2,1,7526030717,-1,0,2,0,-1,0,2,3,...,172,-186,93,-168,66,120,-74,-78,-96,100
3,1,7078096709,-1,1,0,-3,2,-4,-6,-1,...,103,127,-97,-24,122,-67,67,29,-95,56
4,0,7886103067,1,-1,0,0,5,-1,2,-4,...,138,-29,-34,9,-83,64,140,102,62,139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,3,7098668153,-1,-1,0,0,2,3,6,-2,...,-12,-2,44,37,-60,-112,-12,-85,-100,44
149996,3,7682788637,-1,1,0,-2,0,-6,5,-8,...,167,35,53,-61,-42,152,-156,-60,112,56
149997,3,7177961411,-1,0,-1,-3,-1,2,-2,2,...,-112,-110,144,126,42,92,154,-124,114,190
149998,3,7547398123,-1,0,-2,-2,0,-6,4,-3,...,180,23,99,1,78,28,64,23,-79,-78
149999,3,7024626403,-1,0,-2,-4,2,-6,-4,0,...,24,-98,-32,-193,-119,-168,120,105,-140,88

In [10]:
df[df['rk'] == 3]

,rk,cond,sign,a_1,a_2,a_3,a_4,a_5,a_6,a_7,...,a_1220,a_1221,a_1222,a_1223,a_1224,a_1225,a_1226,a_1227,a_1228,a_1229
135000,3,7773997717,-1,0,1,0,4,0,-4,-4,...,-72,-126,155,66,-104,-59,170,59,5,-84
135001,3,7551667961,-1,-1,0,-1,2,2,4,-6,...,-111,82,91,-76,-174,82,-102,-164,2,-98
135002,3,7066163173,-1,-1,-2,-2,-1,2,-5,-1,...,-86,77,-105,-44,148,90,-154,90,132,-174
135003,3,7071040891,-1,-1,-2,-3,-1,5,-6,2,...,-17,-52,-116,-114,-90,168,-54,109,12,15
135004,3,7876605619,-1,-1,-1,-3,3,4,-3,6,...,62,180,28,96,-79,193,-28,-57,-48,-115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,3,7098668153,-1,-1,0,0,2,3,6,-2,...,-12,-2,44,37,-60,-112,-12,-85,-100,44
149996,3,7682788637,-1,1,0,-2,0,-6,5,-8,...,167,35,53,-61,-42,152,-156,-60,112,56
149997,3,7177961411,-1,0,-1,-3,-1,2,-2,2,...,-112,-110,144,126,42,92,154,-124,114,190
149998,3,7547398123,-1,0,-2,-2,0,-6,4,-3,...,180,23,99,1,78,28,64,23,-79,-78
149999,3,7024626403,-1,0,-2,-4,2,-6,-4,0,...,24,-98,-32,-193,-119,-168,120,105,-140,88

### count

In [2]:
df = pd.read_csv('/home/eva/results/trueranks/ranks_00007.csv')
df

/tmp/ipykernel_2011/3106692836.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/home/eva/results/trueranks/ranks_00007.csv')

        3  7000001429  1  0  0.1   -1047      12316  1.1
0       1  7000001467  0 -1    1    -693       8329   -1
1       2  7000001803  0  0    1    -146       4082   -1
2       1  7000001803  1  1    0     289      -3436   -1
3       0  7000003259  0  0    1    -736      -8676   -1
4       1  7000003607  1  0    1      85      -4007   -1
...    ..         ... .. ..  ...     ...        ...  ...
953623  2  7999997813  0  0    1    -500          2    1
953624  3  7999997813  1  0    0  -19733   -1068572    1
953625  2  7999997813  1  0    1 -180474  -29524981    1
953626  0  7999998011  0  0    1   -1639     -25900   -1
953627  0  7999998011  0  0    1    -217      -4476   -1

[953628 rows x 8 columns]

In [2]:
for i in range(5,11):
    df = pd.read_csv('~/results/trueranks/ranks_'+str(i).zfill(5)+'.csv', names = ['rk', 'cond', 'a1', 'a2', 'a3', 'a4', 'a6', 'sign'])
    for j in range(0,4):
        if j < 2:
            dfj = df[df['rk'] == j]
            sampled_df = dfj.sample(n=45000, random_state=41) 
            sampled_df.to_csv('/home/eva/results/datasets/ml/expanded_around_original.csv', index=False, mode='a', header = False)
        elif j == 2:
            dfj = df[df['rk'] == j]
            sampled_df = dfj.sample(n=30000, random_state=41) 
            sampled_df.to_csv('/home/eva/results/datasets/ml/expanded_around_original.csv', index=False, mode='a', header = False)
        elif j == 3:
            dfj = df[df['rk'] == j]
            sampled_df = dfj.sample(n=15000, random_state=41) 
            sampled_df.to_csv('/home/eva/results/datasets/ml/expanded_around_original.csv', index=False, mode='a', header = False)
        elif j == 4:
            dfj = df[df['rk'] == j]
            sampled_df = dfj.sample(n=3000, random_state=41) 
            sampled_df.to_csv('/home/eva/results/datasets/ml/expanded_around_original.csv', index=False, mode='a', header = False)

/tmp/ipykernel_6634/4114530878.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('~/results/trueranks/ranks_'+str(i).zfill(5)+'.csv', names = ['rk', 'cond', 'a1', 'a2', 'a3', 'a4', 'a6', 'sign'])
/tmp/ipykernel_6634/4114530878.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('~/results/trueranks/ranks_'+str(i).zfill(5)+'.csv', names = ['rk', 'cond', 'a1', 'a2', 'a3', 'a4', 'a6', 'sign'])
/tmp/ipykernel_6634/4114530878.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('~/results/trueranks/ranks_'+str(i).zfill(5)+'.csv', names = ['rk', 'cond', 'a1', 'a2', 'a3', 'a4', 'a6', 'sign'])
/tmp/ipykernel_6634/4114530878.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('~/results/trueranks/ranks_'+str(i).zfill(5)+'.csv', names = ['rk', 'cond', 'a1', 'a2', 'a3', 'a4', 'a6', 'sign'])
/tmp/ipykernel_6634/4114530878.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('~/results/trueranks/ranks_'+str(i).zfill(5)+'.csv', names = ['rk', 'cond', 'a1', 'a2', 'a3', 'a4', 'a6', 'sign'])
/tmp/ipykernel_6634/4114530878.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('~/results/trueranks/ranks_'+str(i).zfill(5)+'.csv', names = ['rk', 'cond', 'a1', 'a2', 'a3', 'a4', 'a6', 'sign'])

In [ ]:
aps = [f'a_{i}' for i in range(1,1230)]
print(aps)
names = ['rk', 'cond','a1', 'a2', 'a3', 'a4', 'a6', 'sign'] + aps



df = pd.read_csv('/home/eva/results/datasets/ml/expandedaa.csv', names = names)
df

['a_1', 'a_2', 'a_3', 'a_4', 'a_5', 'a_6', 'a_7', 'a_8', 'a_9', 'a_10', 'a_11', 'a_12', 'a_13', 'a_14', 'a_15', 'a_16', 'a_17', 'a_18', 'a_19', 'a_20', 'a_21', 'a_22', 'a_23', 'a_24', 'a_25', 'a_26', 'a_27', 'a_28', 'a_29', 'a_30', 'a_31', 'a_32', 'a_33', 'a_34', 'a_35', 'a_36', 'a_37', 'a_38', 'a_39', 'a_40', 'a_41', 'a_42', 'a_43', 'a_44', 'a_45', 'a_46', 'a_47', 'a_48', 'a_49', 'a_50', 'a_51', 'a_52', 'a_53', 'a_54', 'a_55', 'a_56', 'a_57', 'a_58', 'a_59', 'a_60', 'a_61', 'a_62', 'a_63', 'a_64', 'a_65', 'a_66', 'a_67', 'a_68', 'a_69', 'a_70', 'a_71', 'a_72', 'a_73', 'a_74', 'a_75', 'a_76', 'a_77', 'a_78', 'a_79', 'a_80', 'a_81', 'a_82', 'a_83', 'a_84', 'a_85', 'a_86', 'a_87', 'a_88', 'a_89', 'a_90', 'a_91', 'a_92', 'a_93', 'a_94', 'a_95', 'a_96', 'a_97', 'a_98', 'a_99', 'a_100', 'a_101', 'a_102', 'a_103', 'a_104', 'a_105', 'a_106', 'a_107', 'a_108', 'a_109', 'a_110', 'a_111', 'a_112', 'a_113', 'a_114', 'a_115', 'a_116', 'a_117', 'a_118', 'a_119', 'a_120', 'a_121', 'a_122', 'a_123', 'a_124', 'a_125', 'a_126', 'a_127', 'a_128', 'a_129', 'a_130', 'a_131', 'a_132', 'a_133', 'a_134', 'a_135', 'a_136', 'a_137', 'a_138', 'a_139', 'a_140', 'a_141', 'a_142', 'a_143', 'a_144', 'a_145', 'a_146', 'a_147', 'a_148', 'a_149', 'a_150', 'a_151', 'a_152', 'a_153', 'a_154', 'a_155', 'a_156', 'a_157', 'a_158', 'a_159', 'a_160', 'a_161', 'a_162', 'a_163', 'a_164', 'a_165', 'a_166', 'a_167', 'a_168', 'a_169', 'a_170', 'a_171', 'a_172', 'a_173', 'a_174', 'a_175', 'a_176', 'a_177', 'a_178', 'a_179', 'a_180', 'a_181', 'a_182', 'a_183', 'a_184', 'a_185', 'a_186', 'a_187', 'a_188', 'a_189', 'a_190', 'a_191', 'a_192', 'a_193', 'a_194', 'a_195', 'a_196', 'a_197', 'a_198', 'a_199', 'a_200', 'a_201', 'a_202', 'a_203', 'a_204', 'a_205', 'a_206', 'a_207', 'a_208', 'a_209', 'a_210', 'a_211', 'a_212', 'a_213', 'a_214', 'a_215', 'a_216', 'a_217', 'a_218', 'a_219', 'a_220', 'a_221', 'a_222', 'a_223', 'a_224', 'a_225', 'a_226', 'a_227', 'a_228', 'a_229', 'a_230', 'a_231', 'a_232', 'a_233', 'a_234', 'a_235', 'a_236', 'a_237', 'a_238', 'a_239', 'a_240', 'a_241', 'a_242', 'a_243', 'a_244', 'a_245', 'a_246', 'a_247', 'a_248', 'a_249', 'a_250', 'a_251', 'a_252', 'a_253', 'a_254', 'a_255', 'a_256', 'a_257', 'a_258', 'a_259', 'a_260', 'a_261', 'a_262', 'a_263', 'a_264', 'a_265', 'a_266', 'a_267', 'a_268', 'a_269', 'a_270', 'a_271', 'a_272', 'a_273', 'a_274', 'a_275', 'a_276', 'a_277', 'a_278', 'a_279', 'a_280', 'a_281', 'a_282', 'a_283', 'a_284', 'a_285', 'a_286', 'a_287', 'a_288', 'a_289', 'a_290', 'a_291', 'a_292', 'a_293', 'a_294', 'a_295', 'a_296', 'a_297', 'a_298', 'a_299', 'a_300', 'a_301', 'a_302', 'a_303', 'a_304', 'a_305', 'a_306', 'a_307', 'a_308', 'a_309', 'a_310', 'a_311', 'a_312', 'a_313', 'a_314', 'a_315', 'a_316', 'a_317', 'a_318', 'a_319', 'a_320', 'a_321', 'a_322', 'a_323', 'a_324', 'a_325', 'a_326', 'a_327', 'a_328', 'a_329', 'a_330', 'a_331', 'a_332', 'a_333', 'a_334', 'a_335', 'a_336', 'a_337', 'a_338', 'a_339', 'a_340', 'a_341', 'a_342', 'a_343', 'a_344', 'a_345', 'a_346', 'a_347', 'a_348', 'a_349', 'a_350', 'a_351', 'a_352', 'a_353', 'a_354', 'a_355', 'a_356', 'a_357', 'a_358', 'a_359', 'a_360', 'a_361', 'a_362', 'a_363', 'a_364', 'a_365', 'a_366', 'a_367', 'a_368', 'a_369', 'a_370', 'a_371', 'a_372', 'a_373', 'a_374', 'a_375', 'a_376', 'a_377', 'a_378', 'a_379', 'a_380', 'a_381', 'a_382', 'a_383', 'a_384', 'a_385', 'a_386', 'a_387', 'a_388', 'a_389', 'a_390', 'a_391', 'a_392', 'a_393', 'a_394', 'a_395', 'a_396', 'a_397', 'a_398', 'a_399', 'a_400', 'a_401', 'a_402', 'a_403', 'a_404', 'a_405', 'a_406', 'a_407', 'a_408', 'a_409', 'a_410', 'a_411', 'a_412', 'a_413', 'a_414', 'a_415', 'a_416', 'a_417', 'a_418', 'a_419', 'a_420', 'a_421', 'a_422', 'a_423', 'a_424', 'a_425', 'a_426', 'a_427', 'a_428', 'a_429', 'a_430', 'a_431', 'a_432', 'a_433', 'a_434', 'a_435', 'a_436', 'a_437', 'a_438', 'a_439', 'a_440', 'a_441', 'a_442', 'a_443', 'a_444', 'a_445', 'a_446', 'a_447', 'a_448', 'a_449', 'a_450', 'a_451', 'a_452', 'a_453', 'a_454', 'a_455', 'a_456', 'a_457', 'a_458', 'a_459', 'a_460', 'a_461', 'a_462', 'a_463', 'a_464', 'a_465', 'a_466', 'a_467', 'a_468', 'a_469', 'a_470', 'a_471', 'a_472', 'a_473', 'a_474', 'a_475', 'a_476', 'a_477', 'a_478', 'a_479', 'a_480', 'a_481', 'a_482', 'a_483', 'a_484', 'a_485', 'a_486', 'a_487', 'a_488', 'a_489', 'a_490', 'a_491', 'a_492', 'a_493', 'a_494', 'a_495', 'a_496', 'a_497', 'a_498', 'a_499', 'a_500', 'a_501', 'a_502', 'a_503', 'a_504', 'a_505', 'a_506', 'a_507', 'a_508', 'a_509', 'a_510', 'a_511', 'a_512', 'a_513', 'a_514', 'a_515', 'a_516', 'a_517', 'a_518', 'a_519', 'a_520', 'a_521', 'a_522', 'a_523', 'a_524', 'a_525', 'a_526', 'a_527', 'a_528', 'a_529', 'a_530', 'a_531', 'a_532', 'a_533', 'a_534', 'a_535', 'a_536', 'a_537', 'a_538', 'a_539', 'a_540', 'a_541', 'a_542', 'a_543', 'a_544', 'a_545', 'a_546', 'a_547', 'a_548', 'a_549', 'a_550', 'a_551', 'a_552', 'a_553', 'a_554', 'a_555', 'a_556', 'a_557', 'a_558', 'a_559', 'a_560', 'a_561', 'a_562', 'a_563', 'a_564', 'a_565', 'a_566', 'a_567', 'a_568', 'a_569', 'a_570', 'a_571', 'a_572', 'a_573', 'a_574', 'a_575', 'a_576', 'a_577', 'a_578', 'a_579', 'a_580', 'a_581', 'a_582', 'a_583', 'a_584', 'a_585', 'a_586', 'a_587', 'a_588', 'a_589', 'a_590', 'a_591', 'a_592', 'a_593', 'a_594', 'a_595', 'a_596', 'a_597', 'a_598', 'a_599', 'a_600', 'a_601', 'a_602', 'a_603', 'a_604', 'a_605', 'a_606', 'a_607', 'a_608', 'a_609', 'a_610', 'a_611', 'a_612', 'a_613', 'a_614', 'a_615', 'a_616', 'a_617', 'a_618', 'a_619', 'a_620', 'a_621', 'a_622', 'a_623', 'a_624', 'a_625', 'a_626', 'a_627', 'a_628', 'a_629', 'a_630', 'a_631', 'a_632', 'a_633', 'a_634', 'a_635', 'a_636', 'a_637', 'a_638', 'a_639', 'a_640', 'a_641', 'a_642', 'a_643', 'a_644', 'a_645', 'a_646', 'a_647', 'a_648', 'a_649', 'a_650', 'a_651', 'a_652', 'a_653', 'a_654', 'a_655', 'a_656', 'a_657', 'a_658', 'a_659', 'a_660', 'a_661', 'a_662', 'a_663', 'a_664', 'a_665', 'a_666', 'a_667', 'a_668', 'a_669', 'a_670', 'a_671', 'a_672', 'a_673', 'a_674', 'a_675', 'a_676', 'a_677', 'a_678', 'a_679', 'a_680', 'a_681', 'a_682', 'a_683', 'a_684', 'a_685', 'a_686', 'a_687', 'a_688', 'a_689', 'a_690', 'a_691', 'a_692', 'a_693', 'a_694', 'a_695', 'a_696', 'a_697', 'a_698', 'a_699', 'a_700', 'a_701', 'a_702', 'a_703', 'a_704', 'a_705', 'a_706', 'a_707', 'a_708', 'a_709', 'a_710', 'a_711', 'a_712', 'a_713', 'a_714', 'a_715', 'a_716', 'a_717', 'a_718', 'a_719', 'a_720', 'a_721', 'a_722', 'a_723', 'a_724', 'a_725', 'a_726', 'a_727', 'a_728', 'a_729', 'a_730', 'a_731', 'a_732', 'a_733', 'a_734', 'a_735', 'a_736', 'a_737', 'a_738', 'a_739', 'a_740', 'a_741', 'a_742', 'a_743', 'a_744', 'a_745', 'a_746', 'a_747', 'a_748', 'a_749', 'a_750', 'a_751', 'a_752', 'a_753', 'a_754', 'a_755', 'a_756', 'a_757', 'a_758', 'a_759', 'a_760', 'a_761', 'a_762', 'a_763', 'a_764', 'a_765', 'a_766', 'a_767', 'a_768', 'a_769', 'a_770', 'a_771', 'a_772', 'a_773', 'a_774', 'a_775', 'a_776', 'a_777', 'a_778', 'a_779', 'a_780', 'a_781', 'a_782', 'a_783', 'a_784', 'a_785', 'a_786', 'a_787', 'a_788', 'a_789', 'a_790', 'a_791', 'a_792', 'a_793', 'a_794', 'a_795', 'a_796', 'a_797', 'a_798', 'a_799', 'a_800', 'a_801', 'a_802', 'a_803', 'a_804', 'a_805', 'a_806', 'a_807', 'a_808', 'a_809', 'a_810', 'a_811', 'a_812', 'a_813', 'a_814', 'a_815', 'a_816', 'a_817', 'a_818', 'a_819', 'a_820', 'a_821', 'a_822', 'a_823', 'a_824', 'a_825', 'a_826', 'a_827', 'a_828', 'a_829', 'a_830', 'a_831', 'a_832', 'a_833', 'a_834', 'a_835', 'a_836', 'a_837', 'a_838', 'a_839', 'a_840', 'a_841', 'a_842', 'a_843', 'a_844', 'a_845', 'a_846', 'a_847', 'a_848', 'a_849', 'a_850', 'a_851', 'a_852', 'a_853', 'a_854', 'a_855', 'a_856', 'a_857', 'a_858', 'a_859', 'a_860', 'a_861', 'a_862', 'a_863', 'a_864', 'a_865', 'a_866', 'a_867', 'a_868', 'a_869', 'a_870', 'a_871', 'a_872', 'a_873', 'a_874', 'a_875', 'a_876', 'a_877', 'a_878', 'a_879', 'a_880', 'a_881', 'a_882', 'a_883', 'a_884', 'a_885', 'a_886', 'a_887', 'a_888', 'a_889', 'a_890', 'a_891', 'a_892', 'a_893', 'a_894', 'a_895', 'a_896', 'a_897', 'a_898', 'a_899', 'a_900', 'a_901', 'a_902', 'a_903', 'a_904', 'a_905', 'a_906', 'a_907', 'a_908', 'a_909', 'a_910', 'a_911', 'a_912', 'a_913', 'a_914', 'a_915', 'a_916', 'a_917', 'a_918', 'a_919', 'a_920', 'a_921', 'a_922', 'a_923', 'a_924', 'a_925', 'a_926', 'a_927', 'a_928', 'a_929', 'a_930', 'a_931', 'a_932', 'a_933', 'a_934', 'a_935', 'a_936', 'a_937', 'a_938', 'a_939', 'a_940', 'a_941', 'a_942', 'a_943', 'a_944', 'a_945', 'a_946', 'a_947', 'a_948', 'a_949', 'a_950', 'a_951', 'a_952', 'a_953', 'a_954', 'a_955', 'a_956', 'a_957', 'a_958', 'a_959', 'a_960', 'a_961', 'a_962', 'a_963', 'a_964', 'a_965', 'a_966', 'a_967', 'a_968', 'a_969', 'a_970', 'a_971', 'a_972', 'a_973', 'a_974', 'a_975', 'a_976', 'a_977', 'a_978', 'a_979', 'a_980', 'a_981', 'a_982', 'a_983', 'a_984', 'a_985', 'a_986', 'a_987', 'a_988', 'a_989', 'a_990', 'a_991', 'a_992', 'a_993', 'a_994', 'a_995', 'a_996', 'a_997', 'a_998', 'a_999', 'a_1000', 'a_1001', 'a_1002', 'a_1003', 'a_1004', 'a_1005', 'a_1006', 'a_1007', 'a_1008', 'a_1009', 'a_1010', 'a_1011', 'a_1012', 'a_1013', 'a_1014', 'a_1015', 'a_1016', 'a_1017', 'a_1018', 'a_1019', 'a_1020', 'a_1021', 'a_1022', 'a_1023', 'a_1024', 'a_1025', 'a_1026', 'a_1027', 'a_1028', 'a_1029', 'a_1030', 'a_1031', 'a_1032', 'a_1033', 'a_1034', 'a_1035', 'a_1036', 'a_1037', 'a_1038', 'a_1039', 'a_1040', 'a_1041', 'a_1042', 'a_1043', 'a_1044', 'a_1045', 'a_1046', 'a_1047', 'a_1048', 'a_1049', 'a_1050', 'a_1051', 'a_1052', 'a_1053', 'a_1054', 'a_1055', 'a_1056', 'a_1057', 'a_1058', 'a_1059', 'a_1060', 'a_1061', 'a_1062', 'a_1063', 'a_1064', 'a_1065', 'a_1066', 'a_1067', 'a_1068', 'a_1069', 'a_1070', 'a_1071', 'a_1072', 'a_1073', 'a_1074', 'a_1075', 'a_1076', 'a_1077', 'a_1078', 'a_1079', 'a_1080', 'a_1081', 'a_1082', 'a_1083', 'a_1084', 'a_1085', 'a_1086', 'a_1087', 'a_1088', 'a_1089', 'a_1090', 'a_1091', 'a_1092', 'a_1093', 'a_1094', 'a_1095', 'a_1096', 'a_1097', 'a_1098', 'a_1099', 'a_1100', 'a_1101', 'a_1102', 'a_1103', 'a_1104', 'a_1105', 'a_1106', 'a_1107', 'a_1108', 'a_1109', 'a_1110', 'a_1111', 'a_1112', 'a_1113', 'a_1114', 'a_1115', 'a_1116', 'a_1117', 'a_1118', 'a_1119', 'a_1120', 'a_1121', 'a_1122', 'a_1123', 'a_1124', 'a_1125', 'a_1126', 'a_1127', 'a_1128', 'a_1129', 'a_1130', 'a_1131', 'a_1132', 'a_1133', 'a_1134', 'a_1135', 'a_1136', 'a_1137', 'a_1138', 'a_1139', 'a_1140', 'a_1141', 'a_1142', 'a_1143', 'a_1144', 'a_1145', 'a_1146', 'a_1147', 'a_1148', 'a_1149', 'a_1150', 'a_1151', 'a_1152', 'a_1153', 'a_1154', 'a_1155', 'a_1156', 'a_1157', 'a_1158', 'a_1159', 'a_1160', 'a_1161', 'a_1162', 'a_1163', 'a_1164', 'a_1165', 'a_1166', 'a_1167', 'a_1168', 'a_1169', 'a_1170', 'a_1171', 'a_1172', 'a_1173', 'a_1174', 'a_1175', 'a_1176', 'a_1177', 'a_1178', 'a_1179', 'a_1180', 'a_1181', 'a_1182', 'a_1183', 'a_1184', 'a_1185', 'a_1186', 'a_1187', 'a_1188', 'a_1189', 'a_1190', 'a_1191', 'a_1192', 'a_1193', 'a_1194', 'a_1195', 'a_1196', 'a_1197', 'a_1198', 'a_1199', 'a_1200', 'a_1201', 'a_1202', 'a_1203', 'a_1204', 'a_1205', 'a_1206', 'a_1207', 'a_1208', 'a_1209', 'a_1210', 'a_1211', 'a_1212', 'a_1213', 'a_1214', 'a_1215', 'a_1216', 'a_1217', 'a_1218', 'a_1219', 'a_1220', 'a_1221', 'a_1222', 'a_1223', 'a_1224', 'a_1225', 'a_1226', 'a_1227', 'a_1228', 'a_1229']

In [2]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/home/eva/results/datasets/bsd/BSd')